/* Project CSS 
============================================================
============================================================*/
#about{
	width: 50%;
	min-width: 400px;
}

#about h3{
	font-weight: bold;
}

#about p{
	color: #2D3030;
}

article, section{
	width: 80%;
	margin: 0 auto;
	background-color: #6E7476;
}
body{
	background-color: #4B4E50;
	font-family: 'Fjalla One';
}
p{
	text-align: center;
	color: #2D3030;
	width: 80%;
	margin: 0 auto;
}

ol{
	text-align: center;
	list-style-position: inside; 
	margin-bottom: 40px;
}

li:nth-child(even){
	background-color: #AAB3B6;
}

footer{
	background-color: #2D3030;
	height: 40px;
	padding: 5px;
}

footer p{
	color: #E6F1F5;

}
/* HEADER ============================== */
h1{
	font-size: 3.8em;
	font-weight: bold;
}
h1 span{
	color: #E6F1F5;
}
h1 + h3{
	font-size: 1.6em;
	float: left;

}
header{
	width: 80%;
	margin: 10px auto ;
	overflow: auto;
}
/* ABOUT ============================== */

/* COMPONENTS ============================== */
img{
	width: 100%;

}
h3{
	font-size: 2em;
	text-align: center;
	margin: 20px;
}

h2{
	color: #E6F1F5;
	font-size: 2.6em;
	text-align: center;
	margin: 20px;
	margin-bottom: 30px;
}
#featured{
	border: 4px dotted #E6F1F5 ;
}

li{
	color: #2D3030;
}

.button{
	display: inline-block;
	width: 300px;
	background-color: red;
	color: white;
	padding: 20px;
	
	margin-bottom: 40px;
}

.button:hover{
	color:red;
	background-color: white;
}
