/* Component Stylesheet 
============================================================
============================================================*/

body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

p{
	color:#6e7879;
	font-size: .7rem;
}

h2{
	margin-top: 1.875rem;
	margin-bottom: .625rem;
	font-weight: bold;
	font-size: 1.1rem;
	text-transform: uppercase;
}

section {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

h2 +p{
	width: 50%;
	margin: 0 auto 1.875rem;
}

h3{
	color:#6e7879;

}

article{
	text-align: left;
	padding: 0 5.625rem;
	position: relative;
} 

article h3::before{
	display: block;
	content: "";
	width: 4.375rem;
	height: 4.375rem;
	background: url("face.png") no-repeat center center;
	background-size: 100%;
	position: absolute;
	top: calc(50% - 35px);
	left: .625rem;

}
ul{
	width: 49px;
	margin-left: 45%;
	margin-top: 1.5rem;
}

ul li {
    background-image: url(nav-dot.png);
    background-size: 100%;
    cursor: pointer;
    display: inline-block;
    height: .625rem;
    text-indent: -9999px;
    width: .625rem;
}
.active{
	margin-right: .312rem;
	background-image: url(nav-dot-active.png);
}

li:last-of-type{
	margin-left: .312rem;
}

li:hover{
	background-image: url(nav-dot-active.png);
}