<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
			<h2>testimonials</h2>
			<p>Have a look at some of our client's testimonials as well as what some of the suppliers say</p>
			<article>
				<h3>John Franklin</h3>
				<p>Buzarco has brought that kind of world class sourcing expertise and procurement process improvements to Main Street companies who either do not have any internal resources or want to elevate their current efforts from good to great. Buzarco is responsive to volatile market data and provides timely responses from their clients.</p>
				<ul>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
				</ul>
			</article>
	</section>
	<!-- End Component -->
	
</body>
</html>