/* Component Stylesheet 
============================================================
============================================================*/

body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

p{
	color:#6e7879;
	font-size: .7em;
}

h2{
	margin-top: 30px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 1.1em;
	text-transform: uppercase;
}

section {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

h2 +p{
	width: 50%;
	margin: 0 auto 30px;
}

h3{
	color:#6e7879;

}

article{
	text-align: left;
	padding: 0 90px;
	position: relative;
} 

article h3::before{
	display: block;
	content: "";
	width: 70px;
	height: 70px;
	background: url("face.png") no-repeat center center;
	background-size: 100%;
	position: absolute;
	top: calc(50% - 35px);
	left: 10px;

}
ul{
	width: 49px;
	margin-left: 45%;
	margin-top: 1.5rem;
}

ul li {
    background-image: url(nav-dot.png);
    background-size: 100%;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    text-indent: -9999px;
    width: 10px;
}
.active{
	margin-right: 5px;
	background-image: url(nav-dot-active.png);
}

li:last-of-type{
	margin-left: 5px;
}

li:hover{
	background-image: url(nav-dot-active.png);
}