<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<div id="wrapper">
		<nav>
			<img src="logo.png" alt="buzarco logo business">
			<ul>
				<li><a class="active" href="#">Home</a></li>
				<li><a href="#">Our services</a></li>
				<li><a href="#">Clients</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Contacts</a></li>
			</ul>
		</nav>
	</div>	
	<!-- End Component -->
	
</body>
</html>