<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
		<div>
			<h2>ABOUT OUR COMPANY</h2>
			<p>Welcome to the leading company delivering services that combine quality, reliability and compliance!</p>
			<p><a class="button" href="#">read more</a></p>
			<div>
				<article class="growth">
					<h3>BUSINESS GROWTH</h3>
					<p>Every company in the world needs growth.</p>
				</article>
				<article class="innovation">
					<h3>BUSINESS INNOVATION</h3>
					<p>We're helping to develop innovation-driven entrepreneurs.</p>
				</article>
				<article class="solutions">
					<h3>FINANCIAL SOLUTIONS</h3>
					<p>We're committed to delivering world-class financial planning.</p>
				</article>
				<article class="objective">
					<h3>OUR OBJECTIVE</h3>
					<p>We manage client portfolios and provide financial advice.</p>
				</article>
			</div>
		</div>
	</section>
	<!-- End Component -->
	
</body>
</html>