/* Component Stylesheet 
============================================================
============================================================*/
body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5em;
}
p{
	color:#6e7879;
	font-size: .7rem;
}

section{
	max-width: 800px;
	min-width: 750px;
	margin: 0 auto;
	text-align: center;

}

.button{
	display: inline-block;
	width: 6.25rem;
	background-color: rgba(255,0,0,.6);
	color: white;
	padding: .45rem 1rem;
	text-align: center;
	margin-bottom: 2.5rem;
	-webkit-transition:  -webkit-transform 2s;
    transition:  transform 2s;
	}

.button:hover{
	
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

h2{
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}

h2 + p{
	margin-bottom: 1.56rem;
}

article{
	text-align: left;
	position: relative;
}

h3{
	text-transform: uppercase;
	font-weight: bold;
	font-size: .8rem;
}

#growth{
	width: 50%;
	float: left;
	margin-bottom: 3.75rem;
}

#growth h3, #growth p,#solutions h3, #solutions p{
	padding-left: 35%;
	padding-right: 20%;
}

article::before{
	display: block;
	content: "";
	width: 4.375rem;
	height: 4.375rem;
	position: absolute;
	top: calc(50% - 35px);
}

#growth::before{
	background: url("growth.png") no-repeat center center;
	background-size: 110%;
	left: 3.75rem;
}
#innovation{
	width: 50%;
	float: left;
	margin-bottom: 3.75rem;
}
#innovation h3, #innovation p, #objective h3, #objective p{
	padding-left: 20%;
	padding-right: 20%;
}

#innovation::before{
	background: url("innovation.png") no-repeat center center;
	background-size: 100%;
	left: 0;
}

#solutions{
	width: 50%;
	float: left;
	margin-bottom: 2.5rem;
	clear: both;
}

#solutions::before{
	background: url("solutions.png") no-repeat center center;
	background-size: 100%;
	left: 3.75rem;
}

#objective{
	width: 50%;
	float: left;
	margin-bottom: 2.5rem;
	
}

#objective::before{
	background: url("objective.png") no-repeat center center;
	background-size: 100%;
	left: 0;

}
