<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
		
			<h2>about our company</h2>
			<p>Welcome to the leading company delivering services that combine quality, reliability and compliance!</p>
			<p><a class="button" href="#">read more</a></p>
			<div>
				<article id="growth">
					<h3>business growth</h3>
					<p>Every company in the world needs growth.</p>
				</article>
				<article id="innovation">
					<h3>business innovation</h3>
					<p>We're helping to develop innovation-driven entrepreneurs.</p>
				</article>
				<article id="solutions">
					<h3>financial solution</h3>
					<p>We're committed to delivering world-class financial planning.</p>
				</article>
				<article id="objective">
					<h3>our objective</h3>
					<p>We manage client portfolios and provide financial advice.</p>
				</article>
			</div>
		
	</section>
	<!-- End Component -->
	
</body>
</html>