<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
		<div>
			<h2>LATEST NEWS</h2>
			<div>
				<article class="career"></article>
				<article class="business"></article>
				<article class="home"></article>
				<article class="upgrade"></article>
				<article class="move"></article>
				<article class="create"></article>
			</div>
		</div>
	</section>
	<!-- End Component -->
	
</body>
</html>