<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
			<h2>latest news</h2>
				<article id="career">
					<img src="career.png" alt="career">
				</article>
				<article id="business">
					<img src="business.png" alt="business">
				</article>
				<article id="home">
					<img src="home.png" alt="home">
				</article>
				<article id="upgrade">
					<img src="upgrade.png" alt="upgrade">
				</article>
				<article id="move">
					<img src="move.png" alt="move">
				</article>
				<article id="create">
					<img src="create.png" alt="create">
				</article>
	</section>
	<!-- End Component -->
	
</body>
</html>