/* Component Stylesheet 
============================================================
============================================================*/

body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

section div:first-of-type{
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

section div:first-of-type h2{
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 20px;
}

.career, .business, .home{
	width: calc(100% / 3);
	height: 10.9rem;
	float: left;
}

.upgrade, .move{
	width: calc(100% / 2);
	height: 10.9rem;
	float: left;
}

.create{
	width: 100%;
	height: 14rem;
	float: left;
}

img{
	width: 100%;
	height: 100%;
}


