/* Component Stylesheet 
============================================================
============================================================*/

body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

h2{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 20px;
}

section{
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

#career, #business, #home{
	width: calc(100% / 3);
	height: 10.9rem;
	float: left;
}

#upgrade, #move{
	width: calc(100% / 2);
	height: 10.9rem;
	float: left;
}

#create{
	width: 100%;
	height: 14rem;
	float: left;
}

img{
	width: 100%;
	height: 100%;
}
article{
	position: relative;
}

article::before{
	content: "";
	position: absolute;
	top:0; right:0; bottom:0; left: 0;
	z-index: 1;
	background: rgba(0,0,0,.7);
	opacity: 0;
}
article:hover::before{
	opacity: 1;
}

/* Slide out images */
@keyframes myanimation1
{
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}

article:first-of-type{
    animation: myanimation1 3s;
}

@keyframes myanimation2
{
    from {
        top: -500px;
    }
    to {
        top: 0px;
    }
}

article:nth-of-type(2){
    animation: myanimation2 3s;
}
 
@keyframes myanimation3
{
    from {
        right: -100%;
    }
    to {
        right: 0%;
    }
}

 article:nth-of-type(3){
	animation: myanimation3 3s;
 } 

 @keyframes myanimation4
{
    from {
        left: -1000%;
    }
    to {
        left: 0%;
    }
}

 article:nth-of-type(4){
	animation: myanimation4 3s;
 } 

 @keyframes myanimation5
{
    from {
        right: -1000%;
    }
    to {
        right: 0%;
    }
}

 article:nth-of-type(5){
	animation: myanimation5 3s;
 } 

  @keyframes myanimation6
{
    from {
        bottom: -100000px;
    }
    to {
        bottom: 0px;
    }
}

 article:nth-of-type(6){
	animation: myanimation6 3s;
 } 