<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
		<div>
			<h2>LATEST NEWS</h2>
			
				<article class="career">
					<img src="career.png" alt="career">
				</article>
				<article class="business">
					<img src="business.png" alt="business">
				</article>
				<article class="home">
					<img src="home.png" alt="home">
				</article>
				<article class="upgrade">
					<img src="upgrade.png" alt="upgrade">
				</article>
				<article class="move">
					<img src="move.png" alt="move">
				</article>
				<article class="create">
					<img src="create.png" alt="create">
				</article>
			
		</div>
	</section>
	<!-- End Component -->
	
</body>
</html>