<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
		<div id="container">
			<h2>OUR PRIDE</h2>
			<p>Our results become our reputation, and so it is a matter of personal pride that we do everything we can to grow your business</p>
			<section id="clients">
				<p><strong>67</strong></p> 
				<h3>Clients</h3>
				<p>Buzarco clients share our passion for results and it is shown in their success. Companies that outperform the market like to work with us. Learn more by reading from our ...</p>
			</section>
			<section id="countries">
				<p><strong>16</strong></p> 
				<h3>Countries</h3>
				<p>Buzarco is a global business network of more than 21,000 companies that deliver innovative business solutions. Through access to our company's premier products</p>
			</section>
			<section id="projects">
				 <p><strong>457</strong></p> 
				<h3>Projects</h3>
				<p>Buzarco projects give enterprises the opportunity to extend and revaluate their current business strategy from a fresh point of view or to find a solution for a topic ...</p>
			</section>
			<section id="people">
				<p><strong>56</strong></p> 
				<h3>People in Staff</h3>
				<p>Although we're proud of our products, services, and technology, nothing matches the pride we have in our staff. We are commited to providing excellent customer ...</p>
			</section>
		</div>
	</section>
	<!-- End Component -->
	
</body>
</html>