/* Component Stylesheet 
============================================================
============================================================*/
body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

section:first-of-type{
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

p{
	color:#6e7879;
	font-size: .7em;
}



h2{
	margin-top: 30px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 1.1em;
	text-transform: uppercase;
}

h2 + p{
	width: 65%;
	margin: 0 auto;
}

section > section{
	float:left;
	width: 25%;
	padding:0 10px;
	padding-top: 90px;
	position: relative;
	text-align: center; 
}

h3{
	font-weight: bold;
	line-height: 1.1;
	margin: 1.8rem auto .3rem;
	display: inline-block;
	text-align: center;
	position: relative;
	right: 1.5rem;
}

strong{
	color: rgba(255,0,0,.6);
	font-weight: bold;
	font-size: 2.6em;
	position: relative;
	bottom: 1.1rem;
	left: 50%;
}

#projects h3{
	position: relative;
	right: 2.2rem;
	
}

#clients::before {
	content: "";
	display: table;
	width: 70px;
	height: 70px;
	background: url("clients.png") no-repeat center center;
	background-size: 110%;
	position: absolute;
	top: 30px;
	left: calc(50% - 35px);
	
}

#countries::before {
	content: "";
	display: table;
	width: 70px;
	height: 70px;
	background: url("countries.png") no-repeat center center;
	background-size: 90%;
	position: absolute;
	top: 30px;
	left: calc(50% - 35px);
	
}

#projects::before {
	content: "";
	display: table;
	width: 70px;
	height: 70px;
	background: url("projects.png") no-repeat center center;
	background-size: 100%;
	position: absolute;
	top: 30px;
	left: calc(50% - 35px);
	
}

#people::before {
	content: "";
	display: table;
	width: 70px;
	height: 70px;
	background: url("people.png") no-repeat center center;
	background-size: 100%;
	position: absolute;
	top: 30px;
	left: calc(50% - 35px);
	
}
